<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IDCustomWidgetsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B06B2DA31E0CFB86002BDD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B06B2DB71E0CFB86002BDD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B06B2DC21E0CFB86002BDD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
